@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Inter";
}

main {
  padding: 30px;
  margin: 0 auto;
  max-width: 800px;
}

.images {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 15px;
}

.read-more {
  width: 100%;
  display: inline-block;
  background-color: black;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
}

.learn-more {
  padding: 10px 20px;
  text-decoration: none;
  border: 1px solid black;
  display: inline-block;
  border-radius: 20px;
}

.logo {
  height: 50px;
}

h2 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
}

table#newsletter {
  background-color: #fff4e6;
  border-spacing: 0;
  margin-bottom: 20px;
}

#first-row td,
#fourth-row td {
  padding: 20px;
}

#second-row td,
#third-row td,
#fifth-row td,
#sixth-row td {
  padding: 40px;
}

#first-row td:last-child {
  text-align: right;
}

#fourth-row {
  background-color: #f9db52;
  text-align: center;
}

#fourth-row td {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#fourth-row p {
  margin: 0;
  background-color: #f9db52;
  text-align: center;
}

#fifth-row {
}
#fifth-row td {
}

#fifth-row div {
  padding: 40px;
  border: 1px solid black;
  border-radius: 20px;
}

#fifth-row div button {
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #f9db52;
}

#sixth-row {
  text-align: center;
}

#sixth-row div {
  border: 1px solid black;
  padding: 40px;
  border-radius: 20px;
}

#sixth-row div small {
  display: inline-block;
  margin-bottom: 20px;
}

#sixth-row div p {
  font-size: 20px;
}

#footer {
  table-layout: fixed;
}

#footer td:nth-of-type(2) {
  vertical-align: top;
  text-align: right;
}
